* {
    margin: 0;
    padding: 0;
}

.container {
    
    max-width: 120rem;
    padding: 0 2rem;
}

main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,.5)50%,rgba(0,0,0,.5)50%), url(./photos/andriyko-podilnyk-jFAG_ixCrsM-unsplash.jpg);
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     height: 130vh;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(144, 228, 228);
    padding: 2rem 0;

}
.logo {
    font-size: 35px;
    font-weight: bold;
}
 

.logo:hover {
    cursor: pointer;
    
}
.logo span {
    color: #eee;
}

nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li a {
    text-decoration: none;
    color: rgb(144, 228, 228);
    transition: all .9 ease-in-out;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    text-transform: capitalize;
    position: relative;
}

nav ul li:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(144, 228, 228, .5);
    top: 100%;
    left: 0;
    text-align: center;
}

nav ul li a:hover {
   color: rgba(144, 228, 228, .5);
   cursor: pointer;
}

.check, .hamburger {
    display: none;
}





.about h1 {
    color:  rgb(144, 228, 228);
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    padding-top: 2rem;
}

.photo-trim {
    width: 70%;
    height: 60%;
   border-radius: 5px;
}
.text {
    /* color: rgb(144, 228, 228); */
    color: #eee;
    font-size: 1.6rem;


}

.flexbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
    height: 100%;
    margin-left: 7rem;
}

/* media querries */
/* media querries */
/* media querries */

@media screen and (max-width: 700px) {

    main {
        height: 150vh;
    }
    .container {
        padding-left: 2rem;
    }
    .flexbox {
        display: flex;
        flex-direction: column;
    }
    .text {
        /* color: rgb(144, 228, 228); */
        color: #eee;
        text-align: center;
        font-size: 1.4rem;
        width: 100%;
    
        margin-top: -10rem;
        margin-left: -3.5rem;
}
.photo-trim {
    width: 100%;
    height: 70%;
    margin-left: -2rem;
    margin-bottom: 2rem;
}

}

/* mobile */
/* mobile */
/* mobile */


@media screen and (max-width: 600px) {

    .photo-trim {
        margin-left: -5.5rem
    }

    .text {
        font-size: 16px;
        margin-top: -3rem;
        margin-left: -10rem;
        width: 100%;
        text-align: start;
    }

    .logo {
        font-size: 1.5rem;
    }
    
    

    nav {
        display: initial;
    }
    
   .hamburger {
            display: initial;
        
    }
    
    .hamburger {
        display: inline-block;
    }
    
    .hamburger i {
        font-size: 1rem;
        transition: all .3s;
        margin-left: 7.5rem;
    }
    
    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        display: block;
        background-color: rgba(0,0,0,.8);
        padding-top: 2rem;
        transform: translateX(-150%);
        z-index: 11;
        transition: all .5s;
    }
    
    nav ul li {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid var(--white);
        padding-bottom: 1rem;
    }
    
    nav ul li a {
        padding: 1rem 2.5rem;
        transition: all .3s;
    }
    
    
    /* SLIDE MENU WHEN THE HAMBURGER IS CLICKED */
    #toggle:checked ~ nav ul {
        transform: translateX(0%);
    }
    
    }



@media screen and (max-width: 300px) {
    main {
        height: 135vh;
    }
    .photo-trim {
        margin-left: -5.5rem
    }

    

   
}